.mainDisplay {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.displayInfo {
    /* padding: 10px 20px 10px 20px; */
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-color); */
    border-radius: 5px;
    width: 45%;
    height: 30vh;
}

.displayInfo img {
    /* width: 25vw; */
    border-radius: 10px;
    height: inherit;
}

.displayInfo .text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 0.5vh);
    height: 50%;
}

.displayInfo .text h1 {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

#mainAnalysis {
    flex-shrink: 1;
    font-weight: 600;
    align-self: center;
    font-size: 0.95vw;
    width: 60%;
    flex-grow: 1;
}

#homeButton {
    color: var(--background-color);
    background-color: var(--foreground-color);
    padding: 5px 15px;
    font-size: 2vw;
    display: inline-block;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid var(--foreground-color);
    transition: 0.15s all ease-in;
}

#homeButton:hover {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 2px solid var(--foreground-color);
}
