.mainDisplay {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.displayInfo {
    /* padding: 10px 20px 10px 20px; */
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-color); */
    border-radius: 5px;
    width: 75%;
}

.displayInfo img {
    /* width: 25vw; */
    border-radius: 10px;
    height: 300px;
}

.displayInfo .text {
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12.5px;
}

.displayInfo .text h1 {
    /* flex-basis: 100%; */
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .displayInfo {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 5px;
    }

    .displayInfo .text {
        text-align: center;
        font-size: 12.5px;
        height: auto;
        margin: 20px;
    }

    .displayInfo .text h1 {
        text-align: center;
        justify-content: center;
    }

    .displayInfo img {
        height: auto;
        width: 90%;
    }
}

#mainAnalysis {
    flex-shrink: 1;
    font-weight: 600;
    align-self: center;
    font-size: 15px;
    /* width: 60%; */
    padding: 0 15vw 0 15vw;
    flex-grow: 1;
}

@media only screen and (max-width: 700px) {
    #mainAnalysis {
        width: 95%;
        font-size: 15px;
        text-align: center;
    }
}

#homeButton {
    color: var(--background-color);
    background-color: var(--foreground-color);
    padding: 5px 15px;
    font-size: 2vw;
    display: inline-block;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid var(--foreground-color);
    transition: 0.15s all ease-in;
}

@media (hover: hover) and (pointer: fine) {
    #homeButton:hover {
        color: var(--foreground-color);
        background-color: var(--background-color);
        border: 2px solid var(--foreground-color);
    }
}

@media only screen and (max-width: 700px) {
    #homeButton {
        font-size: 20px;
        padding: 7.5px 10px;
        margin: 7.5px 7.5px 7.5px 7.5px;
    }
}